In [2]:
#1. Create shopping list!
shopping = ["spam", "ham", "eggs", "ham"]

In [4]:
#1.1 Extract the second element of `shopping`

shopping[1]

'ham'

In [5]:
#1.2 Extract the 1st:3rd elements of `shopping`

shopping[0:3]

['spam', 'ham', 'eggs']

In [6]:
#1.3 Extract the last element of `shopping`

shopping[-1]

'ham'

In [25]:
#2 Create train station list

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [8]:
#2.1 Append `stops` with "Edinburgh Waverley" 

stops.append("Edinburgh Waverley")

stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [17]:
#2.2 Add "Queen Street" to the start of `stops`

stops.insert(0, "Queen Street")

stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [19]:
#2.3 Get index for "Croy"

stops.index("Croy")

1

In [20]:
#2.4 Add "Polmont"

stops.insert(4, "Polmont")

stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [21]:
#2.5 Remove "Haymarket"

stops.remove("Haymarket")

stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [26]:
#2.6 Remove all items

stops.clear()

stops

[]

In [28]:
#3. Create `person` dictionary
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [30]:
#3.1 Return keys, values, items
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [31]:
person.values()

dict_values(['Steph', 31, True])

In [32]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [33]:
#3.2 Take out `name`
person.pop("name")

person

{'age': 31, 'Instructor': True}

In [34]:
#3.3 Add new key
person.update({"value pair": "steph@codeclan.com"})

person

{'age': 31, 'Instructor': True, 'value pair': 'steph@codeclan.com'}

In [35]:
#3.4 Delete job description
del person["Instructor"]

person

{'age': 31, 'value pair': 'steph@codeclan.com'}

In [2]:
#4 Create `numbers` list
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [38]:
#4.1 Print even integers
even_numbers = []

for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)

even_numbers

[6, 2, 2, 6]

In [43]:
#4.2 Print difference between largest and smallest value
numbers.sort()
print(numbers[-1] - numbers[0])

98

In [5]:
#4.3 Print true if the list contains a 2 next to a 2
for number in range(len(numbers)-1):
    if numbers[number] == numbers[number + 1]:
        print("True")
    else:
        print("False")

False
False
True
False
False
False
False
False
False

In [ ]:
#4.4 Print sum of numbers, ignore 6 -7

In [19]:
#5
python_is_fun = "FALSE"
python_is_weird = "TRUE"

if python_is_fun == "TRUE" or python_is_weird == "TRUE" or (python_is_weird == "TRUE" and python_is_fun == "TRUE"):
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

In [ ]:
#6 Chickens
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

In [ ]:
#6 Chickens as function